[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
factory-boy = "*"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
factoryboy = "*"

[requires]
python_version = "3.7"
